@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Mono:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Lato, sans-serif;
    background-color: rgb(111, 150, 52);
}

/*header container*/

.header-container {
    position: relative;
    margin: 0 auto;
    max-width: 900px;
    text-align: center;
    background-color: rgb(111, 139, 67);
}

/*header*/

.header {

    height: 100%;
    font-size: 45px;
    margin-top: 20px;
    font-family: Roboto;
    letter-spacing: 0.08em;
    font-weight: 200;
}

.score {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;

}

.score-title {
    font-size: 30px;
    letter-spacing: 0.08em;
}

.score-tally {
    font-size: 20px;
    margin-left: 20px;
    margin-top: 5px;
}

/*game area*/

.game {
    position: relative;
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

.choice-btn {
    height: 100px;
    width: 100px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(111, 139, 67);
    font-size: 30px;
    cursor: pointer;
}

/*results*/

.results {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    grid-template-areas:
        "you-title computer-title"
        "you-picked computer-picked";
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 30px;
}

/*define results area*/

.results-heading:first-of-type {
    grid-area: you-title;
}

.results-heading:last-of-type {
    grid-area: computer-title;
}

.results-result:first-of-type {
    grid-area: you-picked;
}

.results-result:last-of-type {
    grid-area: computer-picked;
}

/*results header*/

.results-header {
    letter-spacing: 0.08;
}

.results-result {
    width: 100px;
    height: 100px;
    background: rgb(111, 139, 67);
   margin-top: 30px;
}

/*position rules button and close button at foot of page and style*/

.footer {
    bottom: 0;
    position: fixed;
}

.rules-btn {
    background-color: rgb(111, 139, 67);
    cursor: pointer;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: inherit;
    letter-spacing: 0.1em;
}

/*popup container for the rules*/
/*width to equal width of image*/

.popup {
    width: 493px;
    padding-top: 40px;
    opacity: 0;
    pointer-events: initial;
}

.close-btn {
    background-color: rgb(111, 139, 67);
    cursor: pointer;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: inherit;
    letter-spacing: 0.1em;
}

/*add class to enable popup to show*/

.show-popup {
    opacity: 1;
    pointer-events: none;
}